input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $brand-mid-gray;
	border: 1px solid $brand-light-gray;
	border-radius: 0px;
	padding: 5px 15px;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(0,0%,100%,0)), to(hsla(0,0%,100%,0)));
	background-image:-webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0));
	&:focus {
		color: $brand-mid-gray;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

.nf-input{
	min-height: 50px;
	border: solid 1px $brand-light-gray;
	background-color: #fff;
	color: #000;
	border-radius: 0px;
	padding: 5px 15px;
	font-size: 18px;
	outline: none;
	transition: .3s;
}
.nf-input:focus{
	border-color: $brand-mid-gray;
}
.nf-input::placeholder{
	color: $brand-mid-gray;
}
@media only screen and (max-width:767px){
	.nf-input{
		min-height: 38px;
		font-size: 15px;
	}
}
