@import "buttons";

@import "fields";

.subscription-form{
    display: flex;
    align-items: flex-end;
    .nf-input{
        flex:1;
    }
    .nf-button{
        margin-left: 20px;
    }

}

@media only screen and (max-width:767px){
    .subscription-form{
        
        .nf-input{
            margin-right: 20px;
        }
        .nf-button{
            margin: 0;
            min-width: 100px;
        }
    }
}