// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
*{
  box-sizing: border-box;
}
.nf-container {
  max-width: 1280px;
}
.nf-wrapper {
  padding: 0 80px;
  &.all-side{
    padding: 80px;
  }
}

.spaced-container {
  padding-top: 100px;
  min-height: calc(100vh - 189px);
}
.spaced-container-150 {
  min-height: calc(100vh - 189px);
  padding-top: 150px;
}

body {
  font-family: $font_main_2;
  font-size: 18px;
  font-weight: normal;
  color: #7c7c7c;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}
body.noScroll{
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin: 0;
  font-family: $font_main_1;
}
h1 {
  font-size: 40px;
  font-weight: 700;
}
h1.nf-heading{
  font-size: 40px;
  font-weight: 700;
  &.white{
    color: #fff;
  }
}
h2 {
  font-size: 25px;
  line-height: 1.1;
  font-weight: 700;
}
h2.nf-heading{
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
  &.white{
    color: #fff;
  }
}
p {
  margin: 0;
  font-family: Georgia;
  font-size: 18px;
  color: $brand-mid-gray;
  line-height: 1.5;
}
h3 {
  font-weight: 400;
  font-size: 18px;
  color: $brand-gray;
}
.black-section{
  padding-top: 50px;
  padding-bottom: 0px;
  background: #000000;
  &.all-side{
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.black-section.whited{
  // padding-top: 50px;
  // padding-bottom: 50px;
  p{
    color: #fff;
  }
}
.mb-25{
  margin-bottom: 25px;
}

.special-arrow{
    transition: .3s;
    min-width: 50px;
    top: 4px;
    height: 18px;    
    display: inline-block;
    position: relative;
    margin-left: 10px;
    &:before{
      position: absolute;
      content: "";
      transition: .3s;
      width: 0;
      height: 0;
      border-left: 10px solid #fff;
      border-bottom: 5px solid transparent;
      border-top: 5px solid transparent;
      top: calc(50% - 4px);
      left: 100% ;    
    }
      &:after{
        position: absolute;
        content: "";
        transition: .3s;
        width: 50px;
        background: #fff;
        height: 1px;
        top: 50%;
        left: 0;    
      }
      &:hover{
        &:after{
            width: 60px;
        }
        &::before{
            transform: translateX(10px);
        }
    }
}
@media only screen and (max-width:$screen-md-max){
  .nf-wrapper{
    padding: 0 18px;
    &.all-side{
      padding: 30px;
    }
  }
  .spaced-container{
    padding-top: 60px;
  }
  .spaced-container-150 {
    padding-top: 80px;
  }
}
@media only screen and (max-width:767px){
  .nf-wrapper{
    padding: 0 18px;
    &.all-side{
      padding: 30px;
    }
  }
  .spaced-container{
    padding-top: 60px;
  }
  .spaced-container-150 {
    padding-top: 80px;
  }
  p{
    font-size: 15px;
  }
  h1.nf-heading,h1{
    font-size: 26px;
  }
  h2.nf-heading,h2{
    font-size: 22px;
  }
  .black-section{
    padding-top: 20px;
  }
}
// desktop 
//  H1 40
// H2 25
//  p 18

// mobile
//  h1 26
//  h2 22
//  p 15 / span also 15

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";
@import "components/components";

@import "pages/pages";
@import "footer/footer";