
@font-face {
  font-family: Georgia;
  src: url(../../assets/fonts/Georgia.ttf);
  font-weight: normal;
}

$font_main_1: "nimbus-sans",sans-serif;
$font_main_2: Georgia,serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

