a {
	color: $brand-black;

	&:visited {
		color: $brand-black;
	}
	&:hover,
	&:focus,
	&:active {
		color: $brand-gray;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
