/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";


.nf-header{
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        padding: 0 80px;
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        z-index: 5;
        transition: .4s;
}
.nf-header.scrolled{
    box-shadow: 0 2px 2px #ccc;
    top: -100px;
    height: 80px;
}
.nf-header.scrolled.slide{ 
top: 0px;
transition: .8s;
}
.brand-ball{
        width: 9px;
        height: 9px;
        background: $brand-main;
        display: inline-block;
        border-radius: 50%;
}
.nf-logo{
        display: flex;
        position: relative;
        align-items: flex-end;
}
.nf-logo img{
        height: 30px;
        margin: 0 5px;
}
.nf-navigation{
        width: auto;

        li{
                padding: 0 15px;
                &.current-menu-item{
                        a::after{ 
                                transform: scaleX(1);                      
                        }
                }
        }
        a{
                font-family: $font_main_1;
                font-size: 18px;
                color: #000000;
                font-weight: 700;
                position: relative;
                &::after{
                        content: '';
                        width:100%;
                        height: 2px;
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                        transform: scaleX(0);
                        transform-origin: left;
                        transition: .3s;
                        background: currentColor;
                }
                &:hover:after{ 
                        transform: scaleX(1);
                }
        }
}


@media only screen and (max-width:767px){
        .nf-header{
                padding: 30px 20px;
                display: flex;
                &.scrolled{
                        padding: 30px 30px;
                }
                .main-navigation{
                        margin-left: auto;
                        display: flex;
                        right: -100%;
                        height: 100vh;
                        width: 100%;
                        position: fixed;
                        top: 0%;
                        transition: .5s;
                        a.menu-toggle{
                                display: block;
                                /* background: black; */
                                width: 17px;
                                height: 15px;
                                border-bottom: 1px solid #707070;
                                border-top: 1px solid #707070;
                                margin-left: auto;
                                cursor: pointer;
                                position: relative;
                                transition: .3s;
                                position: fixed;
                                top: 34px;
                                right: 20px;
                                &::before,&::after{
                                        content: '';
                                        width: 100%;
                                        height: 1px;
                                        position: absolute;
                                        background: #707070;
                                        top: 6px;
                                        transition: .3s;
                                }
                                &.active{
                                        border: 1px solid transparent;
                                        &::before{
                                                transform: rotate(-45deg);
                                        }
                                        &::after{
                                                transform: rotate(45deg);
                                        }
                                }
                        }
                }
        }
        .main-navigation.mobile-active{
                top: 0;
                right: 0;
                height: 100vh;
                width: 100%;
                background: rgba(255, 255, 255, .9);
                flex-direction: column;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 5;

                li{
                        margin-bottom: 30px;
                }
                ul{
                        height: 100%;
                        width: 100%;
                        // background: rgba(255, 255, 255, 0.9);
                        flex-direction: column;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                }
        }
}