// interior  work

.featured-image{
    width: 100%;
    margin: 50px 0;
}
.project-industry{
    font-family: $font_main_1;
}
.project-breif,.project-breif p{ 
    font-weight: 700;
    font-family: $font_main_1;
    font-size: 25px;
    color: #000;    
    
}
*::selection{
    background: $brand-yellow;
}
.interior-work{
    h1{
        font-size: 40px;
    }
    h2,h3,h4,h5,h6{
        font-size: 25px;
        margin-bottom: 25px; 
    }
    p{
        font-size: 18px;
    }
    img{
        margin: 50px 0;

        height: auto;
        width: 100%;
    }
    .wp-caption{
        margin: 0;
        img{
            margin-bottom: 10px;
        }
        .wp-caption-text{
            text-align: left;
            font-style: italic;
            margin: 0 0 50px 0;
        }
    }
    blockquote{
        margin: 25px 0;
        font-weight: 700;
        color: #000;
        font-family: $font_main_1;
        p{
            font-weight: 700;
            color: #000;
            font-family: $font_main_1;
            font-size: 25px;
        }
    }   

    // gallery as slider
    .gallery{
        display: flex;
        overflow: hidden;
        overflow-x: visible;
        position: relative;
        scroll-behavior: smooth;
        margin-bottom: 0px;
        figure{
            min-width: 100%;
            margin: 0;
            img{
                height: auto;
                margin: 0;
            }
        }
        // &:after{
        //     content:'';
        //     width: 100%;
        //     display: block;
        //     height: 18px;
        //     background: #fff;
        //     position: absolute;
        //     bottom: 0;
        //     left: 0;
        // }
        &::-webkit-scrollbar { width: 0 !important }
        .gallery-caption{
            font-size: 14px; 
            font-style: italic; 
            font-family: Georgia; 
            color: #606060;
            text-align: left;
            margin-top: 10px;
        }
        .gallery-icon{
            font-size: 0;
        }
        
    }
    // videos
    iframe,video{
        // margin: 50px 0;
        width: 100%;
    }
    .gallery-wrapper{
        position: relative;
        margin: 50px 0;
        .nf-slider-navigation{
            position: absolute;
            height: 50px;
            width: 100%;
            left: 0px;
            top: calc(50%  - 26px);
            transform: translateY(-50%);
            justify-content: space-between;
            display: flex;
            .nf-slider-left,.nf-slider-right{
                width: 50px;
                cursor: pointer;
                height: 50px;
                background: #000000;
                display: inline-block;
                position: relative;
            }
            .nf-slider-left:before{
                content:'';
                border-right: 14px solid #fff;
                border-top: 12px solid transparent;
                border-bottom:12px solid transparent;
                width: 0px;
                height: 0px;
                display: inline-block;
                position: absolute;
                right: 0;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
            .nf-slider-right:before{
                content:'';
                border-left: 14px solid #fff;
                border-top: 12px solid transparent;
                border-bottom:12px solid transparent;
                width: 0px;
                height: 0px;
                display: inline-block;
                position: absolute;
                right: 50%;
                top: 50%;
                transform: translate(50%, -50%);
            }
        }
    }
    .nf-slider-info{
        position: absolute;
        bottom: -10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .nf-slider-count,.nf-slider-show-link{
            font-size: 14px; 
            font-style: italic; 
            font-family: Georgia; 
            color: #606060;
        }
        .nf-slider-show-link{
            text-decoration: underline;
            cursor: pointer;
        }
    }
    
    .embed-container {margin: 50px 0;
        position: relative;
        padding-bottom: 57.67%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        padding-top: 0;} 
    .embed-container iframe,.embed-container object, 
    .embed-container embed {
        position: absolute;
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
    }
}
.team-card-list{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
}
.team-title{
    margin-bottom: 25px;
}
.nf-gallery-modal{
    position: fixed;
    overflow-x: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    overflow-y: scroll;
    overflow-y: overlay;
    height: 100vh;
    background: #fff;
    z-index: 99;
    padding: 50px 80px;
    display: none;
    transition: .5s;
    opacity: 0;
    &.in{
        opacity: 1;
        display: block;
    }
    &.collapsing{
        opacity: 0;
        display: block;
    }

    img{
        height: 493px;
    }
    .gallery-item{
        display: block;
        margin: 0;
        width: auto;
        text-align: right;
        height: calc(50vh - 75px);
        margin-bottom: 50px;
        max-height: 493px;
        min-height: 200px;
        float: right;
        clear: right;
        .gallery-icon{
            height: 100%;
            img{
                height: 100%;
                margin: auto;
                width: auto;
            }
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
    .gallery-caption{
        font-size: 14px; 
        font-style: italic; 
        font-family: Georgia; 
        color: #606060;
        text-align: left;
        margin-top: 10px;
    }
    .nf-modal-cross{
        // background-image: url('../../../assets/images/cross.svg');
        background-image: url(assets/images/cross.svg);
        width: 40px;
        height: 40px;
        display: inline-block;
        /* border: 1px solid; */
        background-size: 100%;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}
.related-projects{
    margin: 50px 0px 25px 0;
}
@media only screen and (max-width: 767px){
    .nf-heading.work-title{
        font-size: 20px;
        margin-bottom: 0;
    }
    .project-industry{
        font-size: 10px;
        display: block;
        margin-bottom: 10px;
    }
    .project-breif p{
        font-size: 15px;
    }
    .featured-image{
        margin: 20px 0; 
    }
    .interior-work{
        h1{
            font-size: 40px;
        }
        h2,h3,h4,h5,h6{
            font-size: 15px;
            margin-bottom: 7px; 
        }
        p{
            font-size: 12px;
        }
        img{
        margin: 20px 0;             
        }
       .wp-caption .wp-caption-text{
           font-size: 10px;
           margin: 0 0 20px 0;
       }
       blockquote {
           margin: 20px 0;
           p{
            font-size: 15px;
            }
        }
        .gallery-wrapper,.embed-container{
            margin: 20px 0;
        }
        .gallery-wrapper{
            margin: 20px 0 36px 0;
        }
    }
    .nf-heading.team-title{
        font-size: 20px;
        margin-bottom: 20px;
    }
}